body{
  background-color: #000;
  color:#fff;
}
.outer_div{
  background: grey;
  width: 50%;
  padding: 10px;
  text-align: center;
  margin: 35px auto;
  border-radius: 18px;
}
.outer_div h1{
  margin: 15px;
  font-size: 50px;
}
.input_div input{
  font-size: 17px;
  padding: 5px;
  width: 45%;
  border: none;
  border-radius: 4px 0px 0px 4px;
  outline:none;
}
.input_div button{
  background: #0075ff;
  border: none;
  cursor: pointer;
  color: #fff;
  border-radius: 0px 6px 6px 0px;
  padding: 5px 11px;
  font-size: 18px;
}
.sub_div{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 15px 0px;
}
.sub_div .range{
  display: flex;
  gap: 3px;
}
.number{
  display: flex;
}
.char{
  display: flex;
}
